body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.calulator {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    background-color: #fff;

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
button{
    padding: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;

}
.bottom-buttons{
    display: flex;
    margin-top: 20px;
}
#clear-btn, equals-btn{
    flex: 1;
    font-size: 24px;
    padding: 15px 0;
    margin:5px;
}
button:hover {
    background-color: #f4f4f4;
}
#display{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    text-align: right;
}